.section--profile{
  position: relative;
  height: unset;
  min-height: 100vh;
  overflow: hidden;
  .container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .section--profile{
    .container{
      display: block;
    }
  }
}
@media screen and (min-height: 1700px) {
  .section--profile{
    height: 100vh;
  }
}
.bg-top--accent{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  img{ width: 100%; }
}
@media screen and (min-width: 1024px) {
  .bg-top--accent{
    top: -650px;
    left: 50%;
    transform: translateX(-50%);
    width: 103vw;
    z-index: -10;
  }
}
@media screen and (min-width: 1600px) {
  .bg-top--accent{
    top: -830px;
  }
}
.logo--wrapper{
  max-width: 200px;
  margin: 0 auto;
  img{ width: 100%; }
  z-index: 10;
}
@media screen and (min-width: 600px) {
  .logo--wrapper{
    max-width: 250px;
  }
}
@media screen and (min-width: 1024px) and (max-height: 800px) {
  .logo--wrapper{
    max-width: 125px;
  }
}
.link-web--wrapper{
  text-align: center;
  a{ color: $white; }
}
.photo-profile--wrapper{
  margin: 60px auto 20px;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background: linear-gradient(180deg, $secondary 0%, $white 39.58%, $white 61.98%, $secondary 100%);
  position: relative;
  &::before{
    content: '';
    height: 88%;
    width: 88%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(270deg, $accent 26.04%, $primary 100%);
    z-index: 1;
  }
  img{
    width: 82%;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 620px) {
  .photo-profile--wrapper{
    width: 600px;
    height: 600px;
  }
}
@media screen and (min-width: 1024px) and (max-height: 800px) {
  .photo-profile--wrapper{
    margin-top: 16px;
    margin-bottom: 0;
    width: 250px !important;
    height: 250px !important;
  }
}
@media screen and (min-width: 1400px) {
  .photo-profile--wrapper{
    margin-top: 20px;
    width: 450px;
    height: 450px;
  }
}
.icon--wrapper{
  position: relative;
  background-color: $black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  img{
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.contact--wrapper{
  margin: 40px auto 0;
  width: max-content;
  a{
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: $medium;
    &:hover{
      color: $accent;
      .icon--wrapper{
        background-color: $accent;
      }
    }
    &:not(:last-child){
      margin-bottom: 16px;
    }
  }
  .add--address{ display: block; }
}
@media screen and (min-width: 1024px) and (max-height: 800px) {
  .icon--wrapper{
    width: 40px;
    height: 40px;
    img{
      width: 20px;
    }
  }
  .contact--wrapper{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    margin-top: 16px;
    a{
      gap: 8px;
      font-size: 16px;
      &:not(:last-child){
        margin-bottom: 0;
      }
    }
    .add--address{
      display: none;
    }
  }
}
@media screen and (min-width: 1400px) {
  .contact--wrapper{
    margin-top: 40px;
    a{
      &:not(:last-child){
        margin-bottom: 16px;
      }
    }
  }
}
@media screen and (min-height: 2000px) {
  .contact--wrapper{
    margin-bottom: 300px;
  }
}

.bg-bottom--accent{
  display: block;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 106vw;
  display: flex;
  justify-content: space-between;
  img{
    width: 200px;
  }
}
@media screen and (min-width: 1024px) and (max-height: 800px) {
  .bg-bottom--accent{
    display: none;
  }
}
@media screen and (min-height: 2000px) {
  .bg-bottom--accent{
    bottom: -120px;
    width: 108vw;
    img{
      width: 300px;
    }
  }
}