@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

$primary    : #321519;
$secondary  : #E7E8E9;
$accent     : #993053;
$black      : #050504;
$white      : #FBFBFB;

$font-body  : 20px;
$font-family: 'Roboto', sans-serif;

$thin       : 300;
$regular    : 400;
$medium     : 500;
$bold       : 700;
