@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap");
.section--profile {
  position: relative;
  height: unset;
  min-height: 100vh;
  overflow: hidden;
}
.section--profile .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .section--profile .container {
    display: block;
  }
}
@media screen and (min-height: 1700px) {
  .section--profile {
    height: 100vh;
  }
}
.bg-top--accent {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
.bg-top--accent img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .bg-top--accent {
    top: -650px;
    left: 50%;
    transform: translateX(-50%);
    width: 103vw;
    z-index: -10;
  }
}
@media screen and (min-width: 1600px) {
  .bg-top--accent {
    top: -830px;
  }
}
.logo--wrapper {
  max-width: 200px;
  margin: 0 auto;
  z-index: 10;
}
.logo--wrapper img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .logo--wrapper {
    max-width: 250px;
  }
}
@media screen and (min-width: 1024px) and (max-height: 800px) {
  .logo--wrapper {
    max-width: 125px;
  }
}
.link-web--wrapper {
  text-align: center;
}
.link-web--wrapper a {
  color: #FBFBFB;
}

.photo-profile--wrapper {
  margin: 60px auto 20px;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background: linear-gradient(180deg, #E7E8E9 0%, #FBFBFB 39.58%, #FBFBFB 61.98%, #E7E8E9 100%);
  position: relative;
}
.photo-profile--wrapper::before {
  content: "";
  height: 88%;
  width: 88%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(270deg, #993053 26.04%, #321519 100%);
  z-index: 1;
}
.photo-profile--wrapper img {
  width: 82%;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 620px) {
  .photo-profile--wrapper {
    width: 600px;
    height: 600px;
  }
}
@media screen and (min-width: 1024px) and (max-height: 800px) {
  .photo-profile--wrapper {
    margin-top: 16px;
    margin-bottom: 0;
    width: 250px !important;
    height: 250px !important;
  }
}
@media screen and (min-width: 1400px) {
  .photo-profile--wrapper {
    margin-top: 20px;
    width: 450px;
    height: 450px;
  }
}
.icon--wrapper {
  position: relative;
  background-color: #050504;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.icon--wrapper img {
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact--wrapper {
  margin: 40px auto 0;
  width: -moz-max-content;
  width: max-content;
}
.contact--wrapper a {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
}
.contact--wrapper a:hover {
  color: #993053;
}
.contact--wrapper a:hover .icon--wrapper {
  background-color: #993053;
}
.contact--wrapper a:not(:last-child) {
  margin-bottom: 16px;
}
.contact--wrapper .add--address {
  display: block;
}

@media screen and (min-width: 1024px) and (max-height: 800px) {
  .icon--wrapper {
    width: 40px;
    height: 40px;
  }
  .icon--wrapper img {
    width: 20px;
  }
  .contact--wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    margin-top: 16px;
  }
  .contact--wrapper a {
    gap: 8px;
    font-size: 16px;
  }
  .contact--wrapper a:not(:last-child) {
    margin-bottom: 0;
  }
  .contact--wrapper .add--address {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  .contact--wrapper {
    margin-top: 40px;
  }
  .contact--wrapper a:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-height: 2000px) {
  .contact--wrapper {
    margin-bottom: 300px;
  }
}
.bg-bottom--accent {
  display: block;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 106vw;
  display: flex;
  justify-content: space-between;
}
.bg-bottom--accent img {
  width: 200px;
}

@media screen and (min-width: 1024px) and (max-height: 800px) {
  .bg-bottom--accent {
    display: none;
  }
}
@media screen and (min-height: 2000px) {
  .bg-bottom--accent {
    bottom: -120px;
    width: 108vw;
  }
  .bg-bottom--accent img {
    width: 300px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #050504;
  background: linear-gradient(180deg, #FBFBFB 50%, #E7E8E9 100%);
  height: 100%;
  position: relative;
}

h1, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

a {
  color: #050504;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
}

.text--subtitle-1 {
  font-size: 54px;
  font-weight: 300;
}

@media screen and (min-width: 1024px) and (max-height: 780px) {
  h1 {
    font-size: 54px;
  }
  .text--subtitle-1 {
    font-size: 40px;
  }
}
.text--italic {
  font-style: italic;
}

.text--center {
  text-align: center;
}

.container {
  max-width: 1512px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  position: relative;
}/*# sourceMappingURL=styles.css.map */